.VirtualGantt {
  height: 100%;
  :global {
    .gantt-line-body {
      cursor: pointer;
    }

    .react-flow__pane {
      cursor: auto !important;
    }
    .react-flow__renderer {
      pointer-events: none;
    }
    .react-flow__resize-control.line {
      border-color: #00000000 !important;
      &.right {
        left: calc(100% - 5px);
      }
      &.left {
        left: 5px;
        z-index: 1;
      }
    }
    .react-flow__resize-control.handle {
      display: none !important;
    }
    .react-flow__resize-control.line.top,
    .react-flow__resize-control.line.bottom {
      cursor: auto;
    }
    .react-flow__attribution {
      * {
        pointer-events: none;
        color: #00000000;
      }
    }
  }
}
