.myTable {
  width: 100%;
  overflow: hidden;
  .tableTitleNode {
    display: inline-flex;
    align-items: center;
  }
  :global {
    .tr-empty {
      > .ant-table-cell-fix-left,
      > .ant-table-cell-fix-right {
        position: static !important;
      }
      td {
        border-inline-end: none !important;
        height: 10px !important;
        padding: 0 !important;
      }
    }
    .tr-title {
      td {
      }
    }
  }
}
