*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

/* body {
  padding: 1rem;
} */

.container {
  height: 900px;
  overflow: auto;
  
}

.gantt-line-body{
 cursor: pointer;
}

.react-flow__pane{
  cursor: auto !important;
}
.react-flow__renderer{
  pointer-events: none;
}